

<button (click) = "toWelcome()">Welcome</button>
<button  *ngIf = "!(Auth.user | async)" (click) = "toLogin()">Login</button>
<button *ngIf = "!(Auth.user | async)" (click) = "toRegister()">Signup </button>
<button *ngIf = "Auth.user | async" (click) = "toLogout()">Logout</button>