<p>
  signup works!
</p>
<form>  
<div class="example-container">
  <mat-form-field>
    <input name = "name" [(ngModel)] = "name" matInput placeholder="enter your name">
  </mat-form-field>

  <mat-form-field>
    <input name = "email" [(ngModel)] = "email" matInput placeholder="enter your email">
  </mat-form-field>
  <div class = "warning" *ngIf = "code == 'auth/invalid-email'">{{msg}}</div>
  <mat-form-field>
    <input name = "password" [(ngModel)] = "password"  matInput placeholder="enter your password">
  </mat-form-field>
  <div class = "warning" *ngIf = "code == 'auth/weak-password'">{{msg}}</div>
  <div class = "warning" *ngIf = "showInculde">plz iclude spefic characters in your password</div>
</div>
<div></div>
<div>
<button (click) = "emailSign()">Sign up with email and password</button>
</div>
<br>
<div> 
<button (click) = "googleSign()" mat-flat-button color="warn">google sign up</button>
</div>

</form>

